      <div class="container">
        <div class="row-fluid" style="text-align:center;">
          <div class="span6">
              <a href="http://dev.pybossa.com/" style="text-decoration: none;color:#ffffff;" >Powered by <img src="{{url_for('static', filename='img/pybossa2.png')}}"></a>
          </div>

          <div class="span6">
              <a href="http://http://www.qcri.qa/" style="text-decoration: none;color:#ffffff;" >A project by <img src="{{url_for('static', filename='img/qcriLogo.png')}}"></a>
          </div>
        </div>
      </div>
