    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
           <a class="brand" href="{{ url_for('home.home') }}" style="padding:10px 50px 0px 0px;"><img src="http://i.imgur.com/7YdsXTB.png"  alt="{{brand}}" width="260px" height="62px"></a>
           <div class="nav-collapse collapse">
            <ul class="nav">
	      <li {% if active_page == 'leaderboard' %} class="active" {% endif %}><a href="http://micromappers.cloudapp.net/leaderboard/">{{ _('Leaderboard') }}</a></li>
              <li {% if active_page == 'community' %} class="active" {% endif %}><a href="{{ url_for('account.index')}}">{{ _('Community') }}</a></li>
              <li {% if active_page == 'projects' %} class="active" {% endif %}><a href="{{ url_for('project.index') }}">{{ _('Projects') }}</a></li>
              <li {% if active_page == 'about' %} class="active" {% endif %}><a href="http://micromappers.org/">{{ _('About') }}</a></li>
            </ul>
            {% include '_gcs_form.html' ignore missing %}
          {% if current_user.is_authenticated() %}
            <ul class="nav secondary-nav pull-right">
              <li {% if active_page == 'profile' %} class="active" {% endif %}><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon icon-user"></i> {{ current_user.name | truncate(6,true) }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('account.profile', name=current_user.name) }}"><i class="icon icon-user"></i> {{ _('My Profile') }}</a></li>
                    <li><a href="{{ url_for('account.projects', name=current_user.name) }}"><i class="icon icon-th-large"></i> {{ _('My Clickers') }}</a></li>
                    <li><a href="{{ url_for('account.update_profile', name=current_user.name) }}"><i class="icon icon-cog"></i> {{ _('My Settings') }}</a></li>
                    {% if current_user.admin == 1 %}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('admin.index') }}"><i class="icon icon-cog"></i> {{ _('Admin Site') }}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                  <li><a href="{{ url_for('account.signout') }}"><i class="icon icon-off"></i> {{ _('Sign Out') }}</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}

            {% if current_user.is_anonymous() %}
            <ul class="nav secondary-nav pull-right">
              <li><a href="{{ url_for('account.signin') }}"><i class="icon icon-white icon-signin"></i> {{ _('Sign in') }}</a></li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
