<p>Welcome to MicroMappers! Here you can become a Digital Humanitarian and support disaster responders with a simple click. No prior experience or special skills are required!
<br><br>
MicroMappers is a joint initiative with the United Nations: humanitarian organizations need your help to make sense of social media generated during disasters.
<br><br>
To participate, pick one of the featured clickers below and click on &quot;Start&quot;.
<br><br>
MicroMappers is also for mobile/tablet: <a href='https://itunes.apple.com/us/app/clickers/id859016775?mt=8' target="_blank">MicroMappers App for iOS</a>
 and <a href='https://play.google.com/store/apps/details?id=tw.org.geothings.clickers' target="_blank">MicroMappers App for Android</a>
</p>


